@model DataTable
@using System.Data
@{
    int srno = 1;
}

<div class="table-box">
    <div class="table-responsive">
        @*<h2>Grievances List</h2>*@
        <table class="table table-bordered table-hover dt-responsive display tbl" id="tbl" width="100%">
            <thead>
                <tr>
                    <th>Srno.</th>
                    <th>Reported Date</th>
                    <th>Reported Name</th>
                    <th>Reported Email</th>
                    <th>Feedback Response</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                   
                    <tr @*style="background-color:@row["RevertStatusBgColor"]"*@>
                        <td>@(srno++)</td>
                        <td>@row["Reportedby"]</td>
                        <td>@row["ReportedBy"]</td>
                        <td>@row["ReportedEmail"]</td>
                        <td style="word-wrap:break-word;">@row["Feedbackmsg"]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Script{

}