@model DataTable
@using System.Data

<div class="grievances-list">
    @*<h2>Revert Complain List</h2>*@
    <table class="table table-bordered table-hover dt-responsive display tbl" id="tbl" width="100%">
        <thead>
            <tr>
                <th>Serial No</th> <!-- Added Serial No column -->
                <th>Case Id</th>
                <th>Name</th>
                <th>Complain<br /> Date</th>
                <th>Status</th>
                <th>Query Date</th>
                <th>Query Message</th>
                <th>Response Date</th>
                <th>Response Message</th>
                @*<th>View Details</th>*@
            </tr>
        </thead>
        <tbody>
            @{
                int serialNo = 1; // Initialize the serial number
            }
            @foreach (DataRow row in Model.Rows)
            {
            <tr>
                <td>@serialNo</td> <!-- Display the serial number -->
                <td>@row["CaseId"]</td>
                <td>@row["Name"]</td>
                <td style="word-wrap:break-word;">@row["ComDate"]</td>
                <td>@row["RevertStatus"]</td>
                <td>@row["RevartDate"]</td>
                <td>@row["TeamRevertMessage"]</td>
                <td>@row["UserRevartDate"]</td>
                <td>@row["UserRevertMessage"]</td>
                @*<td>
                    <a href="@Url.Action("DetailsCId", "UserCom", new { id = row["CaseId"] })" class="btn btn-info">View Details</a>
                </td>*@
            </tr>
                serialNo++; // Increment the serial number
            }
        </tbody>
    </table>
</div>
