@using Grievancemis.Manager
@model Grievancemis.Models.FilterModel
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="page-header-title">
            <h2 class="mb-0">Revart Complain List</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Revert Complain List</li>
            </ul>
        </div>
    </div>
</div>

<div class="box-design">
@using (Html.BeginForm("GetURevartList", "UserCom", FormMethod.Post, new { @id = "formid", @class = "", role = "form", autocomplete = "off", enctype = "multipart/form-data", noValidate = "novalidate" }))
{
    <div class="flex-row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label" })
                <span style="color:red;">*</span>
                @Html.DropDownListFor(model => model.StateId, CommonModel.GetState(), null, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.TypeGId, htmlAttributes: new { @class = "control-label" })
                <span style="color:red;">*</span>
                @Html.DropDownListFor(model => model.TypeGId, CommonModel.GetGrievanceType(), null, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.TypeGId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.RevertTypeId, htmlAttributes: new { @class = "control-label" })
                <span style="color:red;">*</span>
                @Html.DropDownListFor(model => model.RevertTypeId, CommonModel.GetRevertType(), null, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.RevertTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-btn">
            <button id="search-button" class="btn btn-primary">Search</button>
        </div>
    </div>
}
</div>
<div class="table-box">
    <div id="subdata"></div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            bindload();
        });
        function bindload() {
            debugger;
            $("#subdata").html(''); $('#div-download').empty();
            var filtermodel = new Object();
            filtermodel.StateId = $('#StateId').val() == '' ? '' : $('#StateId').val();
            filtermodel.TypeGId = $('#TypeGId').val() == '' ? '' : $('#TypeGId').val();
            filtermodel.RevertTypeId = $('#RevertTypeId').val() == '' ? 0 : $('#RevertTypeId').val();
            $.ajax({
                type: "Get",
                url: document.baseURI + "/UserCom/GetURevartList",
                data: filtermodel,
                //cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#subdata").html(res.Data);

                        //if ($.fn.dataTable.isDataTable('#tbl')) {
                        //    $("#tbl").dataTable().fnDestroy();
                        //}
                        //table = $('#tbl').DataTable({
                        //    //scrollY: "400px",
                        //    //scrollX: true,
                        //    //scrollCollapse: true,
                        //    paging: false,
                        //    "dom": '<"pull-left"f><"pull-right"l>tip',
                        //    //"ordering": false,
                        //    // order: [[1,0, 'desc']],
                        //    // pageLength: 100,
                        //    fixedColumns: {
                        //        leftColumns: 1,
                        //        rightColumns: 1
                        //    },
                        //    buttons: [{
                        //        extend: 'excel', text: '<span><i class="fa fa-download"></i> Download</span>', title: 'Participant Lists',//$('#IDDistrict option:selected').text() +
                        //        className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                        //        filename: 'Participant Lists',
                        //        exportOptions: { modifier: { page: 'all' } }
                        //    }],
                        //});
                        //$('.dataTables_filter input[type="search"]').css(
                        //    { 'width': '200px', 'display': 'inline-block' }
                        //);
                        //$('#div-download').empty();
                        //table.buttons().container().appendTo($('#div-download'));
                    }
                    else {
                        $("#subdata").html('<h5 class="text-danger">' + res.Data + '</h3>');
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                    $("#subdata").html('<h5 class="text-danger">' + errormsg + '</h3>');
                }
            });
        }
    </script>
}