@model DataTable
@using System.Data

<div class="table-box">
    <div class="table-responsive">
        @*<h2>Grievances List</h2>*@
        <table class="table table-bordered table-hover dt-responsive display tbl" id="tbl" width="100%">
            <thead>
                <tr>
                    <th>Case Id</th>
                    <th width="100px">Email</th>
                    <th>Name</th>
                    <th>Grievance Type</th>
                    <th>State</th>
                    <th>Location</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Complain</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        <td>@row["CaseId"]</td>
                        <td><div style="word-wrap: break-word; width: 90px">@row["Email"]</div></td>
                        <td>@row["Name"]</td>
                        <td>@row["GrievanceType"]</td>
                        <td>@row["StateName"]</td>
                        <td>@row["Location"]</td>
                        <td><div style="word-wrap: break-word; width: 100px">@row["Title"]</div></td>
                        <td><div style="word-wrap: break-word; width: 150px">@row["Grievance_Message"]</div></td>
                        <td>@row["CreatedOn"]</td>
                        <td>
                            <button type="button"
                                    class="btn btn-primary mr-2 mb-2" data-pc-toggle="modal"
                                    data-pc-target="#bd-example-modal-lg">
                                Revert Process
                            </button>
                            @*<button class="btn btn-warning progress-button" data-id="@row["Id"]" onclick="POPDisplay('@row["Id"]','@row["CaseId"]','@row["Name"]','@row["CreatedOn"]');">Revart Process</button>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
