@model DataTable
@using System.Data

<div class="grievances-list">
    <h2>Revart Complain List</h2>
    <table class="table table-bordered table-hover dt-responsive display tbl" id="tbl" width="100%">
        <thead>
            <tr>
                <th>Serial No</th> <!-- Added Serial No column -->
                <th>Case Id</th>
                <th>Name</th>
                <th>Complaint Date</th>
                <th>Revert Type</th>
                <th>Revart Date</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @{
                int serialNo = 1; // Initialize the serial number
            }
            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    <td>@serialNo</td> <!-- Display the serial number -->
                    <td>@row["CaseId"]</td>
                    <td>@row["Name"]</td>
                    <td style="word-wrap:break-word;">@row["ComDate"]</td>
                    <td>@row["RevertTypeId"]</td>
                    <td>@row["RevartDate"]</td>
                    <td>@row["TeamRevertMessage"]</td>
                </tr>
                serialNo++; // Increment the serial number
            }
        </tbody>
    </table>
</div>
