@model DataTable
@using System.Data

<div class="grievances-list">
    <h2>Grievances List</h2>
    <table class="table table-bordered table-hover dt-responsive display tbl" id="tbl" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Grievance Type</th>
                <th>State</th>
                <th>Location</th>
                <th>Title</th>
                <th>Grievance Message</th>
                <th>CreatedOn</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Rows)
            {
            <tr>
                <td>@row["Id"]</td>
                <td>@row["Email"]</td>
                <td>@row["Name"]</td>
                <td>@row["GrievanceType"]</td>
                <td>@row["StateName"]</td>
                <td>@row["Location"]</td>
                <td>@row["Title"]</td>
                <td style="text-wrap:normal; word-wrap:break-word;">@row["Grievance_Message"]</td>
                <td>@row["CreatedOn"]</td>
                <td>
                    <button class="btn btn-info progress-button" data-id="@row["Id"]" onclick="POPDisplay('@row["Id"]','99','@row["Name"]','@row["CreatedOn"]');">Query Box</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>